<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCuaHangDongHo.Properties.Settings.QL_DongHoConnectionString"
            connectionString="Data Source=DESKTOP-ED7KO1L\SQLEXPRESS;Initial Catalog=QL_DongHo;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>