Create database [QL_DongHo]
go
USE [QL_DongHo]
GO
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[MANV] [char](5) NOT NULL,
	[SOCONG] [int] NULL,
	[DONLUONG] [int] NULL,
	[TONGLUONG] [int] NULL,
 CONSTRAINT [PK_BANGCHAMCONG_1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [char](5) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NULL,
	[GIAMGIA] [nvarchar](50) NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NGAYLAM]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NGAYLAM](
	[MANV] [char](5) NOT NULL,
	[NGAYLAM] [date] NOT NULL,
 CONSTRAINT [PK_CT_NGAYLAM] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYLAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NHAPHANG]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NHAPHANG](
	[MANHAP] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CT_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](5) NOT NULL,
	[MAKH] [char](5) NULL,
	[MANV] [char](5) NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
	[GIAMGIA] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](5) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[PASS] [varchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](5) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](300) NULL,
	[SDT] [char](20) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASS] [varchar](50) NULL,
	[CHUCVU] [char](5) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANHAP] [char](5) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 9/20/2021 7:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](5) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](300) NULL,
	[MOTA] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[MALOAI] [char](5) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV001', N'QuanLy')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV002', N'Nhân viên')
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (N'HD001', N'SP001', 4, 24000, NULL, 96000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (N'HD002', N'SP001', 1, 24000, NULL, 24000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (N'HD003', N'SP001', 4, 24000, NULL, 96000)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (N'HD001', N'KH001', N'NV001', CAST(N'2021-09-20 05:08:34.300' AS DateTime), CAST(N'2021-09-20 05:08:34.300' AS DateTime), NULL, 96000, N'Cửa Hàng', N'Mua tại cửa hàng')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (N'HD002', N'KH001', N'NV001', CAST(N'2021-09-20 05:08:48.703' AS DateTime), CAST(N'2021-09-20 05:08:48.703' AS DateTime), NULL, 24000, N'Cửa Hàng', N'Mua tại cửa hàng')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (N'HD003', N'KH001', N'NV001', CAST(N'2021-09-20 05:23:57.893' AS DateTime), CAST(N'2021-09-20 05:23:57.893' AS DateTime), NULL, 9096000, N'Cửa Hàng', N'Mua tại cửa hàng')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH], [PASS]) VALUES (N'KH001', N'Trần Tấn Hiếu', N'0397330562', NULL, N'Nam', NULL)
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML001', N'Mắt Kính')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML002', N'Đồng Hồ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [HINHANH], [SDT], [GIOITINH], [USERNAME], [PASS], [CHUCVU]) VALUES (N'NV001', N'Trần Tấn Hiếu', N'tanhieu.png', N'0397330562          ', N'Nam', N'Hieu', N'123', N'CV002')
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN001', CAST(N'2021-05-30 00:00:00.000' AS DateTime), 2830000)
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN002', CAST(N'2021-05-30 00:00:00.000' AS DateTime), 13700000)
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN003', CAST(N'2021-06-05 00:00:00.000' AS DateTime), 700000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP001', N'Mắt Kính 2 chấm góc cận gọng chữ V', N'H.jpg', N'Mắt Kính 2 chấm góc cận gọng chữ V cự hot', 24000, N'Còn Hàng', 1, N'ML001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP002', N'Đồng Hồ HuBoler Nam', N'HSP002_3.jpg', N'Đồng Hồ Nam', 4500000, N'Còn Hàng', -1, N'ML002')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_NHANVIEN]    Script Date: 9/20/2021 7:06:01 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UNI_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_BANGCHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CT_NGAYLAM]  WITH CHECK ADD  CONSTRAINT [FK_CT_NGAYLAM_BANGCHAMCONG] FOREIGN KEY([MANV])
REFERENCES [dbo].[BANGCHAMCONG] ([MANV])
GO
ALTER TABLE [dbo].[CT_NGAYLAM] CHECK CONSTRAINT [FK_CT_NGAYLAM_BANGCHAMCONG]
GO
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_NHAPHANG] FOREIGN KEY([MANHAP])
REFERENCES [dbo].[NHAPHANG] ([MANHAP])
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPHANG_NHAPHANG]
GO
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPHANG_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_CT_NHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([CHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
